Login <br> <br>
<form action="/procesar_formulario" method="post">
	<label>Nombre: </label>
	<input type="text" name="name" placeholder="Ingrese su nombre">
	<br><br>

	<label for="">Email</label>
	<input type="email" name="email" placeholder="Ingrese su email">
	<br><br>

	<label for="">Password</label>
	<input type="password" name="password" placeholder="*********">
	<button type="submit">Enviar</button>
</form>