<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link rel="stylesheet" href="<%= @ref %>">

</head>
<body>

	<div>
		Este codigo se repite para todas las vistas
	</div>

	<br>
	
	<%= yield %>

	<footer>
		
	</footer>
	
</body>
</html>