<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<% 100.times do |i|%>
		<h1>
			<%= i %> - Mi primera aplicación Web con Sinatra!
		</h1>
	<% end %>
	
</body>
</html>